.footer{
    height: 305px;
    background: #1E1E1E;
}

.footerdetail{
    display: flex;
    padding: 45px 0 0 48px;
}

.footername{
    color: #BFBEBE;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footercom{
    color: #FFF;
}

.footertab{
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 207.143% */
    margin-top: 26px;
}

.footermiddle{
    width: 623px;
    height: 65px;
    flex-shrink: 0;
    margin-left: 77px;
    margin-top: 70px;
}

.footerdescription{
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.footerpayment{
    width: 329px;
    height: 55px;
    flex-shrink: 0;
}

.footerright{
    margin-left: 260px;
    margin-top: 70px;
    width: 220px;
    height: 98px;
    flex-shrink: 0;
}

.footerdisclaimer{
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
}

.footerlogo{
    width: 220px;
    height: 53px;
    flex-shrink: 0;
}